.you
{
background-color:white;
height:75px;
width:100%;
}
.you ul
{
float:right;
}
.you ul li 
{
display:inline;
margin-right:50px;
}
.you img
{
margin-left:50px;
height:100px;
width:150px;
}
.her img
{
padding:70px;
margin-left:510px;
}
.saw
{
text-align:center;
margin-right:15px;
margin-bottom:50px;
}
.seen
{
font-size:20px;
font-style:Times New Roman;
}
.how
{
font-size:20px;
font-style:Times New Roman;
}